.container {
  display: flex;
  margin-top: 50px;
  padding: 0 2em;
}

.item {
  position: relative;
  display: block;
  flex: 1 1 0px;
  transition: transform 500ms;
}

.container:focus-within .item,
.container:hover .item {
  transform: translateX(-25%);
}

.item:focus ~ .item,
.item:hover ~ .item {
  transform: translateX(25%);
}

.container .item:focus,
.container .item:hover {
  transform: scale(1.5);
  z-index: 1;
}

/* body {
  overflow: hidden;
} */

.item img {
  display: block;
  max-width: 100%;
}
